# Field System directories
[FS]
  # Field system top directory
  FsDir = /usr2/fs
  # Station-specific FS directory
  StDir = /usr2/st
  # Schedule directory (including Master file)
  SchedDir = /usr2/sched
  # Procedure file directory
  ProcDir = /usr2/proc
  # Log directory
  LogDir = /usr2/log

# Default settings for this station/facility
[Station]
  # station name(s) to process by default. Comma separated two-letter codes inside square brackets. e.g.:
  # stations = [Hb, Ho, Ke, Yg]
  # stations = Ke
  Stations =  [Hb, Ho, Ke, Yg]
  ##################
  # Which master files should be processed? At least one of these must be selected
  # Get the main Multi-Agency schedule, i.e. mostly 24h sessions
  GetMaster = True
  # Get the Multi-Agency Intensives schedule
  GetMasterIntensive = True
  ##################
  # What schedule file formats should be obtained? This is a prioritised list with the highest one first
  # use the file name suffix (vex and/or skd) and comma-separated
  SchedTypes = skd
  # What is the minimum time between checks for a new Master file on the server (hours)?
  MasterCheckTime = 12
  # What is the minimum time between checks for a new Schedule (SKD or VEX) file on the server (hours)?
  ScheduleCheckTime = 1
  # How far ahead in time should we look for schedule files (days)?
  LookAheadTimeDays = 14

[Drudg]
  # Drudg-related config
  # Run drudg on downloaded schedules? If False then files are downloaded but not processed
  DoDrudg = True
  # Where the executable lives
  DrudgBinary = /usr2/fs/bin/drudg
  # Directory for the output LST (schedule summary) file
  LstDir = /usr2/sched
  #-------------------------------------------------------------------------------------------------
  # /usr2/control/skedf.ctl contains some options to prompt the user in some cases. These need to be
  # automated in fesh.
  #
  # 1. TPI period in centiseconds
  #    0 = don't use the TPI daemon (default)
  TpiPeriod = 0
  #  2. Continuous cal option. Either "on" or "off". Default is 'off'
  ContCalAction = off
  # 3. If continuous cal is in use, what is the polarity? Options are 0-3 or "none". Default is none
  ContCalPolarity = none
  # 4. For PFB DBBCs only, vsi_align setup
  #    Applicable only for PFB DBBCs,
  #    none = never use dbbc=vsi_align=... (default)
  #    0 = always use dbbc=vsi_align=0
  #    1 = always use dbbc=vsi_align=1
  VsiAlign = none
  #-------------------------------------------------------------------------------------------------

[Servers]
  # Schedule file server URLs. Each of these will be checked for the most recent files.
  # Use comma-separated URLs inside square brackets, and specify the top directory (i.e. the 'vlbi' directory).
  # Use protocols https (Curl), ftp (anonymous FTP) or sftp (anonymous secure FTP)
  Servers = [https://cddis.nasa.gov/archive/vlbi, ftp://ivs.bkg.bund.de/pub/vlbi, ftp://ivsopar.obspm.fr/pub/vlbi]
  # Alternative CDDIS (anonymous secure FTP):
  # URL = ftps://cddis.nasa.gov/archive/vlbi

[Curl]
  # Curl configuration files. Needed for https.
  # A .netrc and a .urs_cookies file are needed. Curl puts these in the user's
  # home directory by default but they can be placed elsewhere if desired. This can be set
  # on the command line or via the NETRC_DIR environment variable. The command-line overrides
  # the environment variable which overrides the config file
  NetrcDir = /usr2/control/
